@media screen and (max-aspect-ratio: 1/1) {
  main {
    grid-template-areas:
      "search-bar"
      "sound-panel";
    background-color: blue;
  }

  #directories-panel {
    position: fixed;
    width: min(100vw, 300px);
    left: calc(-1 * min(100vw, 300px));
    transition: 0.5s;
  }

  #directories-panel.open {
    left: 0;
  }

  #directory-button {
    width: 50px;
    height: 50px;
    position: fixed;
    mask-image: url(assets/menu.svg);
    top: 0;
    left: 0;
    z-index: 100;
    mask-size: 90%;
    mask-position: center center;

    background-color: red;
  }

  #directory-button:hover {
    cursor: pointer;
  }

  #directory-button.open {
    mask-image: url(assets/arrow_back.svg);
  }
}
