main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

#directories-panel {
  grid-area: directories-panel;
  background-color: #131313;
  color: #e2e2e2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-directories-text {
  text-align: right;
  padding: 10px;
  padding-left: 50px;
  font-size: 2em;
}

#directories-panel > button {
  width: 85%;
  padding: 1em;
  border: 10px solid #1e2e4f;
  border-radius: 35px;
  color: #e2e2e2;
  background: #262626;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

#directories-panel > button.chosen {
  background: #d4d4d4;
  color: #131313;
}

hr {
  display: block;
  height: 2px;
  width: 90%;
  background-color: black;
  outline: none;
  border: none;
}

.sound-dialog-background {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
}

#sound-dialog {
  position: fixed;
  width: 90vw;
  height: 90vh;
  background-color: aqua;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sound-icon-button {
  padding: 90px 150px;
  border: dashed black;
  width: fit-content;
  height: fit-content;
  background: transparent;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: 0.1s;
}

.sound-icon-button::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  inset: 0;
}

.sound-icon-button:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sound-icon-button-emoji {
  font-size: 150px;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.sound-icon-button .choose-emoji-icon {
  width: 150px;
  height: 150px;
  /* width: 100%;
  height: 100%; */
}

.sound-icon-button-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 12px;
  width: max-content;
}

.emoji-picker-background {
  position: fixed;
  inset: 0;
}

.emoji-picker {
  position: absolute !important;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
}

.file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 10px 20px;
  border: 2px black solid;
  border-radius: 15px;
}

.file-button:hover {
  cursor: pointer;
}

.file-button .upload-file-icon {
  width: 40px;
  height: 40px;
}

.file-button-text {
}

.file-button-input {
  display: none;
}

.sound-name-input {
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border: solid 2px black;
}

.audio-visualizer {
  width: 100%;
  height: fit-content;
  position: relative;
}

.over-visualizer-canvas {
  position: absolute;
  inset: 0;
}

.directories-loading {
}

.directories-text {
}

#search-panel {
  grid-area: search-panel;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

#sound-panel {
  grid-area: sound-panel;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.search-bar {
  border-radius: 5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  width: max-content;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.search-bar-text-input {
  /* width: 500px; */
  max-width: 100%;
  font-size: 1.5em;
  padding: 0.25em;
  padding-left: 1em;
  border: none;
  outline: none;
  background: transparent;
}

.search-bar-submit-button {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search-bar-submit-button .search-icon {
  width: 80%;
  height: 80%;
  fill: rgb(229, 229, 229);
}

.new-sound-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: none;
  position: fixed;
  top: 1;
  left: calc(100vw - 50px - 1em);
  cursor: pointer;
}

.new-sound-button .add-new-sound-icon {
  height: 80%;
  width: 80%;
  fill: rgb(229, 229, 229);
}

.category-nav {
  width: 100%;
  height: fit-content;
  padding: 20px 10px;
  position: relative;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.category-nav-name {
  position: absolute;
  top: -10px;
  left: 25px;
  padding: 0px 5px;
  background-color: red;
}

.sound-button {
  width: 220px;
  height: 260px;
  border: none;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  justify-content: space-between;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.sound-button-menu-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.sound-button-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.sound-button-menu-button .three-dots-icon {
  width: 100%;
  height: 100%;
}

.sound-button-icon {
  width: 100%;
  background-color: red;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-radius: 15px;
  transform: translateZ(15px);
  /* align-self: center center; */
}

.sound-button-play-icon {
  width: 100%;
  background-color: red;
  height: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-radius: 15px;
  transform: translateZ(15px);
}

.sound-button-play-icon .play-arrow-icon {
  height: 80%;
  width: 80%;
  /* aspect-ratio: 1/1; */
  fill: white;
}

.sound-button-name {
  text-align: center;
}
